<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CodeSearch"
            id="org.asdf.codesearch.viewCategory">
      </category>
      <view
            name="CodeSearch View"
            icon="icons/sample.gif"
            category="org.asdf.codesearch.viewCategory"
            class="codesearch.views.CodeSearchView"
            id="codesearch.views.CodeSearchView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="codesearch.views.CodeSearchView"
               ratio="0.5"
               relationship="bottom"
               relative="org.eclipse.ui.views.Editor"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.asdf.codesearch.buttons"
            targetID="codesearch.views.CodeSearchView">
         <action
               class="codesearch.views.CodeSearchAction"
               icon="icons/next.gif"
               id="org.adsf.codesearch.buttons.next"
               label="Next"
               style="push"
               toolbarPath="navigation"
               tooltip="Next Example"/>
         <action
               class="codesearch.views.CodeSearchAction"
               icon="icons/previous.gif"
               id="org.adsf.codesearch.buttons.previous"
               label="Previous"
               style="push"
               toolbarPath="navigation"
               tooltip="Previous Example"/>
         <action
               class="codesearch.views.CodeSearchAction"
               icon="icons/sample.gif"
               id="org.adsf.codesearch.buttons.openInBrowser"
               label="Open in Browser Window"
               style="push"
               toolbarPath="additions"
               tooltip="Open the example in a browser window">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="codesearch.editorContributions.popup"
            targetID="#CompilationUnitEditorContext">
         <action
               class="codesearch.views.CodeSearchAction"
               id="org.asdf.codesearch.actions.search"
               label="Lookup using CodeSearch"
               menubarPath="additions"/>
      </viewerContribution>
   </extension>

</plugin>
